.pagina-principal {
  margin: 0 auto;
  padding: 3%;
  text-align: center;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.descricao {
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
}

.nota-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.nota-input textarea {
  width: 40%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  overflow: auto;
}

.nota-input button {
  margin-top: 10px;
  padding: 1%;
  width: 15%;
  font-size: 14px;
  color: #fff;
  background-color: #3f729b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nota-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #f5f5f5;
}
.nota-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.nota-texto {
  font-weight: bold;
  word-break: break-word;
}

.nota-data {
  font-size: 12px;
  color: #888;
}
.notas-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  grid-auto-flow: dense;
}

